Flask
Pillow
google-generativeai
# moviepy
grpcio
google-cloud-aiplatform
python-dotenv
gunicorn
huggingface_hub
google-cloud-vision
vertexai
werkzeug

filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
